@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
body {
  background: linear-gradient(135deg, #20232a, #0f2027);
}
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(135deg, #fff, #eee);
}
